footer {
  color: red;
  /* background-color: goldenrod; */
  background: linear-gradient(to right, #ff7f50, goldenrod, red);
  border: solid black;
  border-radius: 3px;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 30px;
}

.MainSplashDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  /* overflow: scroll; */
  background-color:black;
  background: linear-gradient(to right, red, #ff4f00, goldenrod, black);

}

.aaCardImg {
  width: 100px;
  height: 100px;
}

.gameIntro {
  background-color: rgba(226, 187, 98, 0.477);
  width: 75%;
  height: 50%;
  border-radius: 18px;
  margin-left: 175px;
  margin-top: 75px;
  /* border: solid red; */
  position: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .gameIntro:hover {
  transition: transform 0.5s;
  transform: scale(1.3);
} */

.introText {
  color:wheat;  
  font-size: 50px;
  margin-left: 6%;
  margin-top: 2.5%;
}

.cardLogo1 {
  width: 150px;
  height: 150px;
  /* margin-left: 950px;
  margin-top: -80px; */
  position: absolute; 
  left: 84%;
  top: 10px;
}

.cardLogo2 {
  width: 150px;
  height: 150px;
  margin-left: 80px;
  margin-top: -100px;
  position: relative;
}

.cardLogo1:hover {
  animation: rotate 1.2s infinite linear;
}

.cardLogo2:hover {
  animation: rotate 1.2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}