.navHeader {
  position: flex;
  background-color: red;
  border: solid black;
}

.logo {
  width: 250px;
  height: 250px;
  background-color: white;
}

.signupButton {
  color:white;
  background-color: #1485cc;
  text-decoration: none;
  font-size: 25px;
  border-radius: 5px;
  position: fixed;
  right: 0;
  padding: 8px;
  font-style: italic;
  margin-top: 4px;
  margin-right: 8px;
}

.loginButton {
  color: white;
  background-color: #1485cc;
  text-decoration: none;
  font-size: 25px;
  border-radius: 5px;
  position: fixed;
  right: 130px;
  padding: 8px;
  font-style: italic;
  margin-top: 4px;
}

.loginButton:hover {
  color: red;
  background-color: black;
  border: solid goldenrod;
  border-radius: 8x;
  font-weight: bold;
}

.signupButton:hover {
  color: red;
  background-color: black;
  border: solid goldenrod;
  border-radius: 8px;
  font-weight: bold;
}