.navHeader {
  position: sticky;
  top: 0;
  /* background-color: red; */
  background: linear-gradient(to right, #ff7f50, goldenrod, red);
  border: solid black;
  display: flex;
  height: 100px;
  box-sizing: border-box;
}

.logo {
  width: 100px;
  height: 50px;
  margin-top: 10px;
  margin-left: 20px;
  background: transparent;
}

.logo:hover {
  transform: scale(1.3);
  transition: transform 0.3s;
}

.loginButton {
  color: white;
  background-color:transparent;
  text-decoration: none;
  font-size: 25px;
  border-radius: 5px;
  position: absolute;
  right: 120px;
  top: 60px;
  /* margin-left: 1120px;
  margin-right: 10px; */
  padding: 5px;
  font-style: italic;
  /* margin-top: 4px; */
}

.signupButton {
  color:white;
  background-color: transparent;
  text-decoration: none;
  font-size: 25px;
  border-radius: 5px;
  position: absolute;
  top: 60px;
  right: 10px;
  padding: 5px;
  font-style: italic;
  /* margin-top: 4px; */
  /* margin-left: 85%; */
}


.loginButton:hover {
  color: red;
  background-color: black;
  border: solid goldenrod;
  border-radius: 8x;
  font-weight: bold;
}

.signupButton:hover {
  color: red;
  background-color: black;
  border: solid goldenrod;
  border-radius: 8px;
  font-weight: bold;
}