.game-page-container {
    width: 100%;
    display: grid;
    grid-template-columns: 45% 54%;
    column-gap: 1%;
    height: calc(100vh - 100px);
}
.game-page-content {
    box-sizing: border-box;
    border: 1px solid black;
}

.game-page-content.left{
    display: grid;
    grid-template-rows: 20% 20% 60%;
    height: 100%;
    box-sizing: border-box;
}

.game-content {
    box-sizing: border-box;
    border: 1px solid black;
}