.card-selection {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: relative;
}

.card-option {
  position: relative;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
  width: 24%;
  height: 50%;
  transition: background-color 0.3s ease;
}

.card-option:hover {
  background-color: lightgray;
}
.card-option:active {
  background-color: darkgray;
}
.card-detail {
  display: none;
  position: absolute;
  z-index: 2;
  width: 200px;
  height: 50%;
  top: -50%;
  right: 50%;
  padding: 10px;
  pointer-events: none; /* Add this line */
}

.card-option:hover .card-detail {
  display: block;
}
