.displayInstructions {
  font-size: 25px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transform: skewX(-10deg);
  font-family: Futura;
  border: outset rgb(115, 115, 207);
  color: slateblue;
  background-image: linear-gradient(
    to bottom, rgb(143, 194, 239), rgb(124, 226, 226), purple
  );
  box-shadow: 0 0 20px rgb(143, 194, 239);
  border-top-left-radius: 25px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 25px;
  position: absolute;
  left: 57.5%;
  top: 46%;
  height: 50px;
  width: 200px;
  display: block;
  text-shadow:0 0 20px blueviolet;
}

.displayInstructions::before {
  content: "";
  display: block;
  width: calc(100% - 18px);
  height: calc(100% - 18px);
  position: absolute;
  border: outset aquamarine;
  border-top-left-radius: 20px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 20px;
}

.displayInstructions:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
  text-shadow:0 0 10px blueviolet;
  box-shadow: 0 0 50px rgb(143, 194, 239);
}

.modal-container {
  border-radius: 10px;
  /* background-color: rgb(159, 157, 45); */
  background: linear-gradient(to right, goldenrod, rgb(185, 146, 146), goldenrod);
  width: 750px;
  height: 750px;
  position: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
  position: relative;
  color: navy;
  font-size: 20px;
}

.generalHeader {
  position: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.tabDescription {
  position: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.modal-tabs button.tab {
  color: goldenrod;
  background-color: firebrick;
  border: solid black;
  border-radius: 8px;
  font-size: 20px;
  font-family: Futura;  
  /* display: fixed; */
}

.modal-tabs button.tab:hover {
  transform: scale(1.3);
  transition: transform 0.3s;

}

.li-space {
  margin-bottom: 10%;
}

.tab {
  border: solid white;
  background-color: black;
  border-radius: 20px;
  color: blueviolet; 
  margin-top: 10%;
  height: 90%;
  /* display: absolute; */
}