.profile-container {
  display: grid;
  grid-template-columns: 40% 59%;
  column-gap: 1%;
  /* height: calc(100vh - 100px); */
  width: 100%;
}

.profile-div {
  border: solid slategray;
  flex: 1;
  box-sizing: border-box;
  font-size: 20px;
}

.defaultPic {
  width: 100%;
  height: 100%;
}

.profile-pic {
  box-sizing: border-box;
  border: solid slategray;
  width: 100px;
  height: 100px;
  margin-left: 30px;
  margin-top: 10px;
  position: relative;
}

.profile-details {
  position: relative;
  font-size: 20px;
  padding: 30px;
  box-sizing: border-box;
}

.card-collection {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  align-content: flex-start;
}

.card-index {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.profile-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.profile-container li {
  flex: 1 0 200px;
  max-width: 200px;
}

.gach {
  position: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 50px;
}

.gachButton {
  border-radius: 20px;
  font-size: 20px;
  font-family: Futura;
  color: rgb(184, 248, 87);
  background: linear-gradient(to left, green, purple,orange, red, orange, purple, green);
  animation: gachAnimation 10s linear infinite;
  background-size: 200% 100%;
  position: absolute;
  left: 30%;
}

.gachButton:hover {
  transition: transform 0.1s;
  transform: scale(1.1);
}

.deselectButton {
  border-radius: 15px;
  font-size: 20px;
  font-family: Futura;
  background-color: firebrick;
  color: black;
  width: 240px;
}

.deselectButton:hover {
  transition: transform 0.1s;
  transform: scale(1.1);
  color: ivory;
}

.cardContainer {
  position: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
}

.selectButton {
  margin: 10px;
  background-color: green;
  border-radius: 15px;
  font-size: 20px;
  width: 170px;
  font-family: Futura;
}

.selectButton:hover {
  transition: transform 0.1s;
  transform: scale(1.1);
  color: ivory;
}

@keyframes gachAnimation {
  0%{
    background-position: 100% 0;
  }
  100%{
    background-position: -100% 0;
  }
}

.profile-div {
  background: linear-gradient(33deg,rgba(255, 255, 255, 0.467) 0%, rgba(73, 150, 73, 0.706) 50%, rgba(128, 0, 128, 0.569) 60%, rgba(255, 166, 0, 0.567) 90%);
}

.card-collection {
  background: linear-gradient(33deg,rgba(255, 255, 255, 0.467) 0%, rgba(73, 150, 73, 0.706) 20%, rgba(128, 0, 128, 0.569) 45%, rgba(255, 166, 0, 0.567) 90%);
}

.profile-container {
  transition: transform 2s;
  animation: profileAnimation 5s linear infinite;
  background-size: 100% 200%;
  background-image: linear-gradient(
      to bottom, rgb(143, 194, 239) 0%, rgb(124, 134, 226) 15%, rgba(47, 9, 185, 0.521) 30%, rgb(51, 0, 128) 45%, rgb(15, 76, 206) 60%, rgb(124, 180, 226) 75%, rgb(143, 228, 239) 90%);
}